

header {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 0, 2rem;
    margin: auto;
    color: white;
    background: linear-gradient(to right, rgb(69, 69, 217), rgb(38, 38, 183), rgb(9, 9, 94), rgb(1, 1, 49));
}

h3 {
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 1rem;
}

input[type="text"] {
    height: 30px;
    width: 300px;
}

button {
    font-family: sans-serif;
    height: 30px;
    width: 300px;
    color: white;
    background: rgb(117, 156, 230);
    border-color: rgb(117, 156, 230);
    border-radius: 5px;
}

